extends ../layout.pug


block content
    main.contacts-page.text-content
        h1!= __('contacts.title')

        section
            p!= __('contacts.introMessage')

        section
            h2!= __('contacts.contactForm')

        section
            h2!= __('contacts.pleaseNote.title')
            p!= __('contacts.pleaseNote.content')

        section
            h2!= __('contacts.thankYou.title')
            p!= __('contacts.thankYou.content')
